[package]
name = "zmem"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4.8", features = ["derive"] }
colored = "2.0.0"
futures = "0.3.28"
tokio = { version = "1.34.0", features = ["full"] }

[profile.release]
lto = "thin"
